{% extends "layout.html" %}
{% block content %}
<div class="about-page">
    <h1>About Our Blog</h1>
    <p>Our blog application was born out of a shared passion for storytelling and technology.
        The idea was sparked during a late-night brainstorming session where we envisioned creating a platform where Alx students can share thier thoughts,
        experiences, and knowledge with their fellow class mates.</p>
    
    <p>As a team of dedicated individuals at Alx School,
        we embarked on this project not just to fulfill a requirement but to showcase our creativity, skills, and teamwork.
        This blog application serves as a reflection of our journey, growth, and commitment to excellence.</p>
    
    <h2>Meet Our Team</h2>
    <ul>
        <li><a href="https://www.linkedin.com/elelta-alemu-b89852110">Elelta Alemu-LinkedIn</a></li>
        <li><a href="https://github.com/Lillymuller">Elelta Alemu-GitHub</a></li>
        <li><a href="https://twitter.com/Eliltamu11">Elelta Alemu-Twitter</a></li>
        <li><a href="https://www.linkedin.com/yared-kebede-6ab4a8281">Yared Kebede- LinkedIn</a></li>
        <li><a href="https://github.com/Yared91">Yared Kebede-GitHub</a></li>
        <li><a href="https://twitter.com/YaredKe79763797">Yared Kebede-Twitter</a></li>
    </ul>
    
    <h2>Project Details</h2>
    <p>This blog application is a Portfolio Project for Alx School, showcasing our skills in web development, design, and collaboration.
        To view the code and contribute, visit our <a href="https://github.com/Lillymuller/Alx_Blog-MVP">GitHub repository</a>.</p>
    
    <p>Join us on this journey of creativity, learning, and sharing. Thank you for visiting our blog application!</p>
</div>
{% endblock content %}
